#boardReadPostTitle{
    font-size: 35px;
    align-items: center;
    margin-top: 30px;
    max-width: 765px;
    min-width: 300px;
}

.boardReadInfo{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    min-width: 300px;
    max-width: 980px;
}

.boardReadInfo > dl{
    width: auto;
    height: auto;

    /* margin: 0 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardReadInfo > dl > dt{
    margin-right: 25px;
    margin-left: 0;
    width: auto;
}

.boardReadInfo > dl > dd{
    margin: 0;
    width: auto;
}

.boardReadInfoLine{
    width: 100%;
    min-width: 300px;
    max-width: 765px;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 2px;
    background-color: #00ffa3;
    border: none;
}

.boardReadCont{
    margin-top: 30px;
    width: 100%;
    max-width: 765px;
}

.boardReadContLine{
    width: 100%;
    min-width: 300px;
    max-width: 765px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: dotted 0.2px #3f3f3f;
}

.boardReadBtnWrap{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 765px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.boardTableBarTr {
    font-size: 25px;
    font-weight: bold;
}
.boardReadViewWrap {
    margin-top: 20px;
}



/* 목록/수정 */
.boardReadBtnWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .boardReadOn{
    width: 230px;
    height: 40px;
    text-decoration-line: none;
    background-color: #00ffa3 ;
    border: none;
    color: #252525;
    outline: none;
    font-weight: bold;
    /* margin: 0 20px; */

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boardReadOn:hover{
    background-color: #76ffcd;
    color: #252525;
    border: none;
    box-sizing: border-box;
    
  }
  
  .boardReadedit{
    width: 230px;
    height: 40px;
    cursor : pointer;
    background-color: #00ffa3 ;
    color: #252525;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* margin: 0 20px; */
  }
  .boardReadedit:hover{
  color: #fff;
  background-color: #60ffc5 ;
  }

  /* .hidden {
    display: none;
  }

   */

   .boardReadComent{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 100px;
    margin-top: 100px;
   }
   .boardReadComentText{
    width: 650px;
    height: 100px;
    margin: 0;
    border: none;
    padding-left: 20px;
    padding-left: 20px;
    outline: none;
    color: #000000;
    padding-top: 10px;
}
   .boardReadComentBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor : pointer;
    background-color: #60ffc5;
    border: none;
    color: #252525;
    margin: 0;
    margin-left: 1px;
}
.boardReadComentBtn:hover{
    color: #fff;
    background-color: #60ffc5 ;
    }






/* 댓글 */

.boardReadComentBoard{
    height: 30px;
    width: 100%;
    min-width: 300px;
    max-width: 770px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: #444;


}
.boardReadComentText01{
    display: flex;
    justify-content: left;
    width: 100%;
    min-width: 300px;
    max-width: 770px;
    display: flex;
    margin: 0 auto;
    color: #444;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
}

#commentText{
    margin: 0 10px;
}
