* {
  text-decoration: none;
  list-style: none;
  /* background-color: #1f2937; */

  color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}

img,
p,
a {
  background: none;
}

input {
  color: #252525;
}

.noneMargin {
  margin: 0;
}

.Wrapper {
  background-color: #252525;
}

.bold {
  font-weight: 900;
}

.header {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 44px;
  height: 100px;
}

.mainSlide {
  max-height: 600px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.mainSlide > img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  max-height: 600px;
  flex-shrink: 0;
  transition: left 0.15s;
  object-fit: contain;
}

.mainCopywrite {
  display: flex;
  /* padding: 166px 0; */
  height: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainCopywrite > p > img {
  margin: 0;
  width: 54px;
}

.mainBigTitle {
  font-size: 44px;
  margin: 0;
}

.mainTitle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin: 20px 0 32px 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.mainTitle > img {
  margin: 0;
}

.mainDesc {
  text-align: center;
  padding: 10px 80px;
}

.teamProjectDesc {
  margin-top: 160px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewImg {
  width: 50%;
}

.reviewImg > img {
  margin: 0;
  width: 380px;
}

.left {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.teacherTitle {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.teacherWrap {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.teacherProfile {
  margin: 0 60px;
}

.teacherTitle > p,
.teacherTitle,
.teacherDesc {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.teacherDesc {
  margin-top: 160px;
}

.teacherTitle {
  font-size: 22px;
}

.teacherDetail {
  display: flex;
  justify-content: center;
  margin: 0;
}

.teacherDetail > img {
  width: 180px;
  margin: 0 60px;
}

.subMain {
  display: flex;
  justify-content: center;
}

.subjectDetailHealth {
  margin: 0 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.ibb.co/TtWJvMb/Health.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background: brightness(0%);
  background-repeat: no-repeat;
}

.subjectDetailYoga {
  margin: 0 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.ibb.co/sVDQgZ1/sub-Banner01.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background: brightness(0%);
  background-repeat: no-repeat;
}

.subjectDetailPilates {
  margin: 0 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.ibb.co/5nS1d40/Pilates.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background: brightness(0%);
  background-repeat: no-repeat;
}

.subjectDetailYoga > img {
  width: 400px;
  margin: 0 10px;
}

.navMenu {
  width: auto;
  padding: 0 28px;
}

.navMenu:hover {
  font-weight: 900;
}

.navTitle {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLogo {
  margin: 0;
}

.navLogo > img {
  width: 120px;
}

.footer {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #181818;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
}

.footerBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 60px;
  align-items: center;
  background: #000;
}

.footerBar > p,
.footerBar > .footerBtnArea {
  margin: 0;
  padding: 0 60px;
  background: none;
  display: flex;
  align-items: center;
}

.footerBar:first-child {
  width: 70%;
}

.login {
  border: 1px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  height: 38px;
  /* padding: 8px 18px;*/
  line-height: 38px;
  margin: 0;
  width: 104px;
  text-align: center;
  font-size: 16px;
  background: none;
}

.login:hover > a {
  color: #1f2937;
}

.login:hover {
  background-color: #fff;
  color: #252525;
}

.join {
  text-decoration: underline;
  cursor: pointer;
  height: 32px;
  /* padding: 12px; */
  line-height: 38px;
  margin: 0 0 0 20px;
  color: #fff;
  transition: 0.3s;
}

.join:hover {
  font-weight: bold;
}

.redBtn {
  border: 1px solid #f4361c;
  color: #f4361c;
  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  /* padding: 8px 18px;*/
  line-height: 46px;
  margin: 0;
  width: 160px;
  text-align: center;
  font-size: 16px;
}

.redBtn > a {
  color: #f4361c;
}

.redBtn:hover {
  background-color: #f4361c;
  color: #fff;
}

.redBtn:hover > a {
  color: #fff;
}

.absoluteBtn {
  border: 1px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  height: 38px;
  /* padding: 8px 18px;*/
  line-height: 38px;
  margin: 0;
  width: 104px;
  text-align: center;
  font-size: 16px;
  background: none;
}
.absoluteBtn:hover > a {
  color: #252525;
}

.absoluteBtn > a {
  color: #fff;
}

.absoluteBtn:hover {
  background-color: #fff;
}

.footerBtn {
  border: 1px solid #f4361c;
  color: #f4361c;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 160px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 30px;
}

.teamSite {
  width: 200px;
  margin-bottom: 20px;
  background-color: #252525;
  text-align: center;
  height: 40px;
  /* border-radius: 40px; */
  font-size: 14px;
}

.footerBtn:hover {
  background-color: #f4361c;
  color: #fff;
}

.topBtn {
  width: 26px;
  cursor: pointer;
}

/* login */
.loginTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 100px;
}

.loginBox {
  width: 450px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 12px 0;
  padding: 30px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.loginBox > input {
  border: 1px solid #fff;
  transition: 0.3s;
}

.loginBox > input:focus {
  outline: none;
  border-radius: 0;
  box-shadow: 0 3px 6px rgb(0 0 0 / 64%), 0 3px 6px rgb(0 0 0 / 72%);
}

.userId {
  height: 46px;
  width: 390px;
  padding: 0px 20px;
  background-color: #ffffff;
}
.password {
  height: 46px;
  width: 390px;
  padding: 0px 20px;
  background-color: #ffffff;
}

.passwordFind {
  text-align: end;
  color: #999999;
  font-size: 14px;
  cursor: pointer;
  width: 390px;
}
.passwordFind:hover {
  color: #fff;
}

.loginBtn {
  border: 1px solid #f4361c;
  color: #f4361c;
  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 0;
  width: 390px;
  text-align: center;
  font-size: 16px;
}
.loginBtn:hover {
  background-color: #f4361c;
  color: #fff;
}

.signupBtn {
  border: 1px solid #ffffff;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 0;
  width: 390px;
  text-align: center;
  font-size: 16px;
}
.signupBtn:hover {
  background-color: #ffffff;
  color: #252525;
  border: 1px solid #ffffff;
}

.signupBtn:hover a {
  color: #252525;
}

/* 회원가입 */

.signupTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 30px;
}

.signupBox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 12px 0;
}

.singupGroup {
  width: 390px;
  height: 40px;
  padding: 0px 20px;
}

.signupBox > input {
  border: 1px solid #fff;
  transition: 0.3s;
}

.signupBox > input:focus {
  outline: none;
  border-radius: 0;
  box-shadow: 0 3px 6px rgb(0 0 0 / 64%), 0 3px 6px rgb(0 0 0 / 72%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signupInputBtn {
  border: 1px solid #f4361c;
  color: #f4361c;
  width: 390px;
  height: 40px;
  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 0;
  width: 390px;
  text-align: center;
  font-size: 16px;
}
.signupInputBtn:hover {
  background-color: #f4361c;
  color: #fff;
}

.signupLogin {
  width: 360px;
  display: flex;
  font-size: 12px;

  align-items: center;
  margin-top: 8px;
}

/* 
클래스 목록창 */

.classList {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.classThumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  margin: 20px;
}

.thumbImage > img {
  width: 400px;
  height: 260px;
}

.classTitle {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: flex-start;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 2px;
  cursor: pointer;
}

.classTitle > span {
  width: 400px;
  text-align: start;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.subjectTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
  align-items: center;
}

.subjectName {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.subjectFilter > select {
  color: #252525;
  width: 100px;
  height: 28px;
  padding: 0 4px;
}
