* {
  text-decoration: none;
  list-style: none;
  /* background-color: #1f2937; */

  color: #fff;
  margin: 0 auto;
  box-sizing: border-box;

  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "Nanum Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}

img,
p,
a {
  background: none;
}

input {
  color: #252525;
}

select:focus {
  outline: none;
}

.noneMargin {
  margin: 0;
}

.Wrapper {
  background-color: #252525;
}

.bold {
  font-weight: 900;
}

.point {
  color: #00ffa3;
}

.header {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 120px;
  height: 100px;
}

.helloLogo {
  width: 120px;
}

.mainSlide {
  max-height: 600px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.mainSlide > img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  max-height: 600px;
  flex-shrink: 0;
  transition: left 0.15s;
  object-fit: contain;
}

.mainCopywrite {
  display: flex;
  /* padding: 166px 0; */
  height: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainCopywrite > p > img {
  margin: 0;
  width: 54px;
}

.mainBigTitle {
  font-size: 44px;
  margin: 0;
}

.mainTitle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin: 20px 0 32px 0;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.mainTitle > img {
  margin: 0;
}

.mainDesc {
  text-align: center;
  padding: 10px 80px;
}

.teamProjectDesc {
  margin-top: 160px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewImg {
  width: 50%;
}

.reviewImg > img {
  margin: 0;
  width: 380px;
}

.left {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.teacherTitle {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.teacherWrap {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.teacherProfile {
  margin: 0 60px;
}

.teacherTitle > p,
.teacherTitle,
.teacherDesc {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.teacherDesc {
  margin-top: 160px;
}

.teacherTitle {
  font-size: 22px;
}

.teacherDetail {
  display: flex;
  justify-content: center;
  margin: 0;
}

.teacherDetail > img {
  width: 180px;
  margin: 0 60px;
}

.subMain {
  display: flex;
  justify-content: center;
}

.subjectDetailHealth {
  margin: 0 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.ibb.co/TtWJvMb/Health.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background: brightness(0%);
  background-repeat: no-repeat;
}

.subjectDetailYoga {
  margin: 0 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.ibb.co/sVDQgZ1/sub-Banner01.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background: brightness(0%);
  background-repeat: no-repeat;
}

.subjectDetailPilates {
  margin: 0 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.ibb.co/5nS1d40/Pilates.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background: brightness(0%);
  background-repeat: no-repeat;
}

.subjectDetailYoga > img {
  width: 400px;
  margin: 0 10px;
}

.navMenu {
  width: auto;
  padding: 0 28px;
  color: #ccc;
  transition: 0.3s;
}

.navMenu:hover {
  font-weight: 900;
  color: #00ffa3;
}

.navMenuFocus {
  font-weight: 900;
  color: #00ffa3;
}

.navTitle {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLogo {
  margin: 0;
}

/* .navLogo > img {
  width: 120px;
} */

.footer {
  height: 360px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #181818;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
}

.footerBar {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 12px;
  left: 1%;
  height: 60px;
  align-items: center;
  background: #00ffa3;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 55%), 0 6px 6px rgb(0 0 0 / 75%);
}

.footerBar > p,
.footerBar > .footerBtnArea {
  margin: 0;
  padding: 0 60px;
  background: none;
  display: flex;
  align-items: center;
  color: #181818;
}

.footerBar:first-child {
  width: 70%;
}

.login {
  border: 1px solid #00ffa3;
  background-color: #00ffa3;
  color: #181818;
  transition: 0.3s;
  cursor: pointer;
  height: 38px;
  /* padding: 8px 18px;*/
  line-height: 38px;
  margin: 0;
  width: 104px;
  text-align: center;
  font-size: 16px;
  border-radius: 38px;
  /* background: none; */
}

.login:hover > a {
  color: #181818;
}

.login:hover {
  background-color: #76ffcd;
  color: #252525;
}

.logout {
  border: 1px solid #00ffa3;
  background-color: #00ffa3;
  color: #181818;
  transition: 0.3s;
  cursor: pointer;
  height: 38px;
  /* padding: 8px 18px;*/
  line-height: 38px;
  margin: 0;
  width: 104px;
  text-align: center;
  font-size: 16px;
  border-radius: 38px;
  /* background: none; */
}

.logout:hover > a {
  color: #181818;
}

.logout:hover {
  background-color: #76ffcd;
  color: #252525;
}

.join {
  text-decoration: underline;
  cursor: pointer;
  /* height: 32px; */
  /* padding: 12px; */
  /* line-height: 38px; */
  margin: 4px 0 0 20px;
  color: #fff;
  transition: 0.3s;
  display: flex;
  width: 204px;
}

.join:hover {
  font-weight: bold;
}

.admin {
  text-decoration: underline;
  cursor: pointer;
  /* height: 32px; */
  /* padding: 12px; */
  /* line-height: 38px; */
  margin: 4px 0 0 20px;
  color: #fff;
  transition: 0.3s;
  display: flex;
  width: 204px;
}

.admin:hover {
  font-weight: bold;
}

.redBtn {
  /* border: 1px solid #f4361c; */
  color: #181818;
  background-color: #00ffa3;
  /* border: 1px solid #00ffa3; */

  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  /* padding: 8px 18px;*/
  line-height: 46px;
  margin: 0;
  width: 160px;
  text-align: center;
  font-size: 16px;
}

.redBtn:hover {
  /* border: 1px solid #00ffa3; */
  /* opacity: 0.4; */
  background-color: #76ffcd;
  color: #181818;
}

.redBtn:hover > a {
  color: #fff;
}

.absoluteBtn {
  border: 1px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  height: 38px;
  /* padding: 8px 18px;*/
  line-height: 38px;
  margin: 0;
  width: 104px;
  text-align: center;
  font-size: 16px;
  background: none;
}
.absoluteBtn:hover > a {
  color: #252525;
}

.absoluteBtn > a {
  color: #fff;
}

.absoluteBtn:hover {
  background-color: #fff;
}

.footerBtn {
  /* border: 1px solid #f4361c; */
  color: #fff;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 160px;
  margin: 0;
  background-color: #181818;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 30px;
}

.teamSite {
  width: 200px;
  margin-bottom: 20px;
  background-color: #252525;
  text-align: center;
  height: 40px;
  /* border-radius: 40px; */
  font-size: 14px;
}

.footerBtn:hover {
  background-color: #292929;
  color: #fff;
}

.topBtn {
  width: 26px;
  cursor: pointer;
  filter: brightness(0);
}

/* login */
.loginTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 100px;
}

.loginBox {
  width: 450px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 12px 0;
  padding: 30px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.loginBox > input {
  border: 1px solid #fff;
  transition: 0.3s;
}

.loginBox > input:focus {
  outline: none;
  border-radius: 0;
  box-shadow: 0 3px 6px rgb(0 0 0 / 64%), 0 3px 6px rgb(0 0 0 / 72%);
}

.userId {
  height: 46px;
  width: 390px;
  padding: 0px 20px;
  background-color: #ffffff;
}
.password {
  height: 46px;
  width: 390px;
  padding: 0px 20px;
  background-color: #ffffff;
}

.passwordFind {
  text-align: end;
  color: #999999;
  font-size: 14px;
  cursor: pointer;
  width: 390px;
}
.passwordFind:hover {
  color: #fff;
}

.loginBtn {
  /* border: 1px solid #f4361c; */
  color: #181818;
  background-color: #00ffa3;
  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 0;
  width: 390px;
  text-align: center;
  font-size: 16px;
  border: none;
}
.loginBtn:hover {
  /* background-color: #f4361c; */
  background-color: #76ffcd;
  /* color: #fff; */
}

.signupBtn {
  /* border: 1px solid #ffffff; */
  color: #fff;
  background-color: #000;
  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 0;
  width: 390px;
  text-align: center;
  font-size: 16px;
}
.signupBtn:hover {
  background-color: #111111;
  color: #fff;
  /* border: 1px solid #ffffff; */
}

.signupBtn:hover a {
  color: #fff;
}

/* 회원가입 */

.signupTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 30px;
}

.signupBox {
  display: flex;
  /* grid-template-rows: 1fr 1fr 1fr;
   */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px 0;
}

.singupGroup {
  width: 390px;
  height: 40px;
  padding: 0px 20px;
}

.signupBox > input {
  border: 1px solid #fff;
  transition: 0.3s;
}

.signupBox > input:focus {
  outline: none;
  border-radius: 0;
  box-shadow: 0 3px 6px rgb(0 0 0 / 64%), 0 3px 6px rgb(0 0 0 / 72%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signupInputBtn {
  border: 1px solid #f4361c;
  color: #f4361c;
  width: 390px;
  height: 40px;
  transition: 0.3s;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 0;
  width: 390px;
  text-align: center;
  font-size: 16px;
}
.signupInputBtn:hover {
  background-color: #f4361c;
  color: #fff;
}

.signupLogin {
  width: 250px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.signupLoginBtn {
  cursor: pointer;
  width: 90px;
  text-decoration: underline;
}
/* 
클래스 목록창 */

.classList {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.classThumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  margin: 20px;
}

.thumbImage > img {
  width: 400px;
  height: 260px;
}

.classTitle {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: flex-start;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 2px;
  cursor: pointer;
}

.classTitle > span {
  width: 400px;
  text-align: start;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.subjectTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
  align-items: center;
}

.subjectName {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.subjectFilter > select {
  color: #252525;
  width: 100px;
  height: 28px;
  padding: 0 4px;
}

.lecture {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* display: grid;
  background-color: khaki;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px; */
}

.content {
  width: 100%;
  margin: 20px;
  cursor: pointer;
}

.image {
  width: 400px;
  height: 267px;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contentsText {
  font-size: 14px;
  color: #00ffa3;
}

.contentsName {
  font-weight: 600;
  font-size: 18px;
}

/* 강좌 자세히보기 */

.detailPageWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lectureIntroTitle {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
}

.classDetailDesc {
  margin-top: 8px;
  color: #00ffa3;
  width: 100%;
  font-size: 18px;
}

.classDetailTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  font-weight: 600;
}

.detailImage {
  border-radius: 8px;
}

.classDetailInfo {
  margin-top: 10px;
}

.detailImageWrap {
  display: flex;
}

.detailImageWrap > img {
  width: 80%;
}

.welcomeWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 140px 0 100px 0;
}

.welcomeMessage {
  margin-top: 28px;
  text-align: center;
}

.welcomeMessage > h2 {
  margin-bottom: 12px;
}

/* 마이페이지 */

.myPageMenu {
  display: flex;
  padding: 80px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.myPageTab {
  border: 1px solid #fff;
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0.7;
}

.myPageTab:hover {
  border: 1px solid #00ffa3;
  opacity: 1;
}

.myPageTabTitle {
  text-align: center;
  font-size: 18px;
  margin-top: 12px;
}

.myPageTab > a > img {
  filter: invert();
}

.courseHistoryTab {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 60px;
  align-items: center;
  margin: 100px auto;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}

.courseHistoryTab > .courseHistoryTabMenu01,
.courseHistoryTab > .courseHistoryTabMenu02 {
  border-bottom: 2px solid #fff;
  width: 120px;
  cursor: pointer;
  text-align: center;
  padding-bottom: 10px;
}

/* .courseHistoryTab > .courseHistoryTabMenu01:focus {
  .courseHistoryTab >.courseHistoryTabMenu02 {
    display: none;
  }
} */



.grayscale {
  filter: grayscale(100%);
}

.carlorieTab {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 60px;
  align-items: center;
}

.carlorieTab > .carlorieTabMenu01,
.carlorieTab > .carlorieTabMenu02 {
  border-bottom: 2px solid #fff;
  width: 120px;
  cursor: pointer;
  text-align: center;
  padding-bottom: 10px;
}

.wishListTable {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wishListBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeTable {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subscribeBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyTr {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.wishTr {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.wishTr > :nth-child(2) {
  width: 300px;
}

.imgtd {
  margin: 0;
}

.historyTr > td:nth-child(3) {
  width: 400px;
}

.historyText {
  padding-bottom: 10px;
  color: #fff;
  border-bottom: 2px solid #252525;
}

.historyTextFocus {
  padding-bottom: 10px;
  color: #00ffa3;
  /* border-bottom: 2px solid #00ffa3; */
}

.myCourseWrap01 > p .myCourseWrap02 > p {
  color: inherit;
}

/* .historyTextFocus:last-child {
  border-bottom: none;
} */

.historyBtnWrap {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.purchaseBtn,
.deleteAllBtn {
  width: 200px;
  height: 40px;
  background: #000;
  text-align: center;
  line-height: 40px;
  /* margin-right: 10px; */
  margin: 10px 10px 0px 0px;
  transition: 0.3s;
  cursor: pointer;
}

.deleteAllBtn:hover {
  background-color: #181818;
}

.purchaseBtn {
  background-color: #00ffa3;
  color: #000;
}

.purchaseBtn:hover {
  background-color: #76ffcd;
}

.cartWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
}

.addWishListBtn {
  width: 38px;
  height: 38px;
  background-color: #000;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 0 0 10px;
}


.addWishListBtn:hover {
  background-color: #181818;
}
.addWishListBtn:hover > i {
  color: crimson;
}

.addWishListBtn.added > i {
  color: crimson;
}

.addWishListBtn > i {
  margin-bottom: 6px;
}

.SubscribeBtn, .lecturePlayerBtn {
  width: 160px;
  height: 38px;
  background-color: #00ffa3;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  transition: 0.3s;
  margin: 0 0 0 10px;
}
.SubscribeBtn:hover, .lecturePlayerBtn:hover {
  background-color: #76ffcd;
}

.myWishListBtn {
  width: 160px;
  height: 38px;
  background-color: #eeeeee;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  transition: 0.3s;
  margin: 0 0 0 10px;
}

.myWishListBtn {
  background-color: #fff;
}

.deleteBtn {
  width: 60px;
  height: 30px;
  background-color: crimson;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
  transition: 0.3s;
}

.deleteBtn:hover {
  background-color: rgb(175, 10, 43);
}

.subMenu {
  position: fixed;
  left: 6%;
  top: 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 200px; */
  border-radius: 8px;
  background-color: #000;
  border: none;
  padding: 30px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 55%), 0 6px 6px rgb(0 0 0 / 75%);
}

.subMenu > a {
  margin: 0;
  padding: 14px 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

