*{
    background-color: #252525;
  }


  
  

 .postListBox{
    width: 85%;
    max-width: 1700px;
    min-width: 1000px;
 }
  
  .postListTr > td{
    margin: 0;
    text-align: center;
  }
  
  
  .postListTable{
    margin: 40px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    padding: 4px;
  }
  
  .postListTable > thead > tr{
    border-bottom: 2px solid #ffffff;
  }
  
  .postListTable > thead > tr > th{
    padding: 10px;
       
  }


  .postListBox{
    width: 100%;
    min-width: 700px;
    max-width: 1000px;
    margin-top: 50px;

  }

  .postListTr{
    border-bottom: 1px solid #444;
  }
  

  
  
  
    /* 행색을 넣기 */
    .teacherInfoTable {
      width: 100%;
      /* border-top: 1px solid #444444; */
      /* border-bottom: 1px solid #444444; */
      border-collapse: collapse;
    }
    .calorieBody > th, td {
          /* border-bottom: 1px solid #444444; */
      padding: 10px;
      text-align: center;
    }

    .hidden {
        display: none;
      }
  
  