<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/main/resources/static/css/boardPost.css" />
  <link rel="stylesheet" href="/css/boardPost.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
  <title>글쓰기</title>

</head>


<body>

  <div method="post" class="boardPost" >
    <div class="boardPageInpuWrapper">
      <div><h1 class="boardPageInputText">Comment</h1></div>
      <div class="boardPageInputText2">글을 작성해주세요</div>

      <div class="Wrapper">
<div class="boardPageInpuTap">


        <div class="boardPageInpuGrop">
        <div class="boardPageInpuFilterGrop">
        <div class="boardPageInpuFiltertitle">게시판</div>
          <select title="boardPageInpuFilter" class="boardPageInpuFilter" >
            <option value="1">자유게시판</option>
            <option value="2">Q&A</option>
          </select>


      </div>
      </div>
      <div class="boardPageInpuUserIdGrop">
      <!-- <div class="boardPageInpuUserId">작성자</div>
      <input class="boardPageInpuUserIdtype" type="text" placeholder="작성자 ID" />
     -->
  </div>

  <div class="boardPageInputTable"> 
    <!-- action="boardPage_jin_test.html"  -->
<div class="boardPageInputHeaderGrop">
      <div class="boardPageInputHeader">Title</div>
      <div><input type="text" class="boardPageInput" placeholder="제목을 입력해주세요" name="title"></div>
    </div>
    <div class="boardPageInputHeaderCommentGrop">
      <div class="boardPageInputHeader">Comment</div>
      <div><textarea class="boardPageInputTextarea" placeholder="내용을 입력해주세요" name="detail"></textarea></div>
    </div>
    </div>   
  </div>
</div>
      
<div class="boardPageInputSubmitGroup">


  <!-- <div class="boardPageModify">수정</div> -->

  <a href="board.html" class="boardPageBack">뒤로가기</a>
  <div class="boardPageInputSubmit">등록</div> 
  <!-- <div class="boardPageDelete">삭제</div> -->
  <script src="/js/boardPost.js"></script>

  </div>
</div>
</div>
  </body>
</html>