<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
    <title>강의 상세보기</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="Wrapper">
      <div class="header">
        <div class="navLogo">
          <a href="index.html">
            <img
              src="https://i.ibb.co/9VyktjQ/image.png"
              alt="HelloLogo"
              class="helloLogo"
            />
          </a>
        </div>
        <div class="navTitle">
          <p class="navMenu">
            <a href="yogaClass.html">요가</a>
          </p>
          <p class="navMenu">
            <a href="pilatesClass.html">필라테스</a>
          </p>
          <p class="navMenu" style="margin-right: 28px">
            <a href="healthClass.html">헬스</a>
          </p>
          <!-- <p class="navMenu">마이페이지</p> -->
          <button class="login">
            <a href="login.html" style="color: #181818"> 로그인 </a>
          </button>

          <p class="join">
            <a href="join.html">아직 회원이 아니신가요?</a>
            <img
              src="https://i.ibb.co/7gRtFWv/image.png"
              alt="image"
              width="24px"
            />
          </p>
        </div>
      </div>
      <h1>class detail page</h1>
      <div class="content">content</div>
      <script src="../static/js/classDetail.js"></script>
    </div>
  </body>
</html>
