<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="/css/dailyChart.css" />
    <link rel="stylesheet" href="/css/style.css" />
 <script src="
 https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js
 "></script>
    <title>수강이력</title>
  </head>
  <body>
    <div class="Wrapper">
      <div class="header">
        <div class="navLogo">
          <a href="index.html">
            <img
              src="https://i.ibb.co/9VyktjQ/image.png"
              alt="HelloLogo"
              class="helloLogo"
            />
          </a>
        </div>
        <div class="navTitle">
          <p class="navMenu">
            <a href="yogaClass.html">요가</a>
          </p>
          <p class="navMenu">
            <a href="pilatesClass.html">필라테스</a>
          </p>
          <p class="navMenu">
            <a href="healthClass.html">헬스</a>
          </p>
          <a href="myPage.html">
            <p class="navMenu navMenuFocus">마이페이지</p>
          </a>
          <a href="board.html">
            <p class="navMenu">게시판</p>
          </a>
          <button class="login">
            <a href="login.html" style="color: #181818"> 로그인 </a>
          </button>
          <button class="logout hidden">
            <a href="login.html" style="color: #181818"> 로그아웃 </a>
          </button>
          <p class="join">
            <a href="join.html">아직 회원이 아니신가요?</a>
            <img
              src="https://i.ibb.co/7gRtFWv/image.png"
              alt="image"
              width="24px"
            />
          </p>
        </div>
      </div>

<!-- ---------------------------------- -->
 <div class="carlorieTab">
    <div id="carlorieTabMenu01" class="tabContents carloriehistoryText"><p class="historyTextP01 historyTextFocus" style="padding: 10px 20px; border-bottom: 2px solid;">일기장</p></div>
    <div id="carlorieTabMenu02" class="tabContents carloriehistoryText"><p class="historyTextP02" style="padding: 10px 20px; border-bottom: 2px solid;">칼로리 검색</p></div>
 </div>

         <!-- 서브메뉴 시작 -->
         <div class="subMenu">
          <p
          style="
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            padding: 14px 0 10px;
          "
        >
          바로가기
        </p>
        <hr
          style="width: 100%; border: 1px solid #fff; margin-bottom: 10px"
        />
          <a href="editProfile.html">
            <p class="subMenuTitle">회원정보 수정</p>
          </a>
          <a href="courseHistory.html">
            <p class="subMenuTitle">수강이력</p>
          </a>
          <a href="dailyChart.html">
            <p class="subMenuTitle point">데일리차트</p>
          </a>
        </div>
        <!-- 서브메뉴 끝 -->

 <div class="carlorieWrap01">
   <!-- 승환 메모장 추가 -->
   <div class="memoBox">
     <table class="memoTable">


       <thead class="memothead">
        <tr>
          <th class="memoBox01">메모번호</th>
          <th class="memoBox02">내용</th>
          <th class="memoBox03">등록일</th>
        </tr>          
        </thead>

        <tbody class="memoBody"></tbody>
      </table>
    </div>
    
    <p class="memoData">일기장</p>
    <!-- <input
    type="text"
    class="memoGroup"
    id="newMemoText"
    placeholder="오늘의 하루를 적어주세요"/> -->

    <textarea class="memoGroup" id="newMemoText" placeholder="오늘의 하루를 적어주세요" [(ngModel)]="memo" ></textarea>

    <div class="memoSaveBtnGroup"><p class="memoSaveBtn">등록하기</p></div>
 </div>

 <div class="carlorieWrap02 hidden">
  <div class="carlorieGroup">
    <p class="carloriesearch">칼로리 검색</p>

     <!-- 승환 칼로리검색 추가 0624 -->
     <input
     type="text"
     class="calorieGroup"
     id="newFoodNameText"
     placeholder="음식명"
     onkeyup="enterkey()"/>
     <p class="foodSearchBtn">검색하기</p>
    </div>



     <div class="calorieBox">
      <table class="calorieTable hidden">
        <thead>
          <tr>
            <th>음식명</th>
            <th>1인분 칼로리</th>
            <th>탄수화물(g)</th>
            <th>단백질(g)</th>
            <th>지방(g)</th>
            <th>콜레스트롤(g)</th>
            <th>식이섬유(g)</th>
            <th>나트륨(g)</th>
          </tr>
          <!-- <th></th> -->
        </thead>
        <tbody class="calorieBody"></tbody>
      </table>
    </div>

  </div>

 </div>




<!-- 
 <div class="carlorieWrap02 hidden historyTextFocus">

        <div class="wishListTitle">

        </div>
      </div> -->




<!-- ---------------------------------- -->
      <div class="footerBar" style="display: flex">
        <p class="bold">
          3개월 구독시 20% 할인 이벤트 진행중! 지금 구독하고 플러스 회원만의
          혜택을 누려보세요
          <img
            src="https://i.ibb.co/XjrSbLb/fire-1f525.png"
            alt="fire-1f525"
            width="24px"
            style="background: none; margin: 0"
          />
        </p>
        <div class="footerBtnArea" style="display: flex; justify-content: end">

          <div class="footerBtn">
            <a href="eventPage.html">지금 구독하기</a>
          </div>

          <div class="topBtn">
            <a href="#Top">
              <img
                src="https://i.ibb.co/Xb6dmHC/Group-46.png"
                alt="Group-46"
                width="26px"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="footer">
        <form>
          <select
            title="teamSite"
            id="s1"
            name="teamSite"
            class="teamSite"
            onchange="window.open(value,'_blank');"
          >
            <option value="0">Our Team</option>
            <option value="https://github.com/SeungHwanYuk">
              Yuk SeungHwan
            </option>
            <option value="https://github.com/star0717">Yoon Byeol</option>
            <option value="https://github.com/bobo459">Song JinKyung</option>
          </select>
        </form>
        <p>ⓒ 2024. Team TBeaver all rights reserved.</p>
      </div>
    </div>
    </div>
    <script src="/js/dailyChart.js"></script>
  </body>
</html>
