<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="
https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js
"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <a name="Top"></a>
    <!-- 윤별 20240605 작업 -->
    <div class="Wrapper">
      <div class="header">
        <!-- 메인메뉴 추가 필요 -->
        <div class="navLogo">
          <!-- <img src="https://i.ibb.co/thFZ0wd/Logo.png" alt="Logo" /> -->
          <!-- <img src="https://i.ibb.co/ns3JKPp/TBeaver-Logo.png" alt="TBeaver-Logo"> -->
          <a href="index.html">
            <img
              src="https://i.ibb.co/9VyktjQ/image.png"
              alt="HelloLogo"
              class="helloLogo"
            />
          </a>
        </div>
        <div class="navTitle">
          <!-- <div class="navMenu">
            <p>요가</p>
          </navMenu>
          <div class="navMenu">
            <p>헬스</p>
          </navMenu>
          <div class="navMenu">
            <p>필라테스</p>
          </navMenu> -->
          <!-- <navMenu>
            <p>마이페이지</p>
          </navMenu> -->
          <a href="yogaClass.html">
            <p class="navMenu">요가</p>
          </a>
          <a href="pilatesClass.html">
            <p class="navMenu">필라테스</p>
          </a>
          <a href="healthClass.html">
            <p class="navMenu">헬스</p>
          </a>
          <a href="myPage.html">
            <p class="navMenu">마이페이지</p>
          </a>
          <a href="board.html">
            <p class="navMenu">게시판</p>
          </a>
          <button class="login">
            <a href="login.html" style="color: #181818"> 로그인 </a>
          </button>
          <button class="logout hidden">
            <a style="color: #181818"> 로그아웃 </a>
          </button>

          <p class="join">
            <a href="join.html">아직 회원이 아니신가요?</a>
            <img
              src="https://i.ibb.co/7gRtFWv/image.png"
              alt="image"
              width="24px"
            />
          </p>
          <p class="navMenuAdmin hidden join">
            <a href="adminPage.html">관리자님 환영합니다!</a>
            <img
              src="https://i.ibb.co/10Y3RwC/disguised-face-1f978.png"
              width="24px"
              alt="disguised-face-1f978"
            />
          </p>
        </div>
      </div>

      <!-- 메인 시작 -->
      <!-- <div class="mainSlide"> -->
      <!-- <img
          src="https://i.ibb.co/3zVKDFH/gym-5000169-1920.jpg"
          alt="gym-5000169-1920"
        /> -->
      <!-- <img
          class="slideItem"
          src="https://i.ibb.co/YkZdTpQ/main-Slide01.png"
          alt="main-Slide01"
        />
        <img
          class="slideItem"
          src="https://i.ibb.co/YkZdTpQ/main-Slide02.png"
          alt="main-Slide02"
        />
        <img
          class="slideItem"
          src="https://i.ibb.co/0Drskt0/main-Slide01.png"
          alt="main-Slide02"
        />
      </div> -->
      <!-- 메인끝 -->

      <!-- 메인 버전 2 -->
      <div class="mainCopywrite">
        <p class="mainBigTitle bold">
          Be more healthy and Be more fun
          <img src="https://i.ibb.co/XjrSbLb/fire-1f525.png" alt="fire-1f525" />
        </p>

        <p class="mainTitle" style="margin-top: 16px; line-height: 28px">
          건강해지는 하루 한시간 <br />지금 시작해보세요!
        </p>
        <!-- <a href="login.html" style="color: #181818"> -->
        <!-- 이거 누르면 강의보러가기로 읻ㅎㅇ... -->
        <!-- <a href="#sub"> -->
        <div class="redBtn">시작하기</div>
        <!-- </a> -->
        <!--  -->
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 60px;
        "
      >
        <iframe
          width="1000"
          height="562.5"
          src="https://www.youtube.com/embed/gB2LjEYaPKw?si=H3HtFWOOP80m8AIN"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>

      <div class="review">
        <p class="mainTitle bold">
          100% 실제 수강생들의 리얼 후기 &nbsp;
          <img
            src="https://i.ibb.co/frFWjQV/image.png"
            alt="image"
            width="24px"
          />
        </p>
        <div class="reviewImg">
          <img src="https://i.ibb.co/VJDbFwJ/review02.png" alt="review02" />
        </div>
        <div class="reviewImg left">
          <img
            src="https://i.ibb.co/zSfgfrB/review01.png"
            alt="review01"
            style="margin-top: -110px"
          />
        </div>
        <div class="reviewImg">
          <img
            src="https://i.ibb.co/x3N53VH/review03.png"
            alt="review03"
            style="margin-top: -80px"
          />
        </div>
        <div class="reviewImg left">
          <img
            src="https://i.ibb.co/XX9ZVv2/review04.png"
            alt="review04"
            style="margin-top: -110px"
          />
        </div>
      </div>
      <!-- 로그인 완료시 버튼 누르면 여기로 이동함~ -->
      <a id="sub"></a>
      <!--  -->
      <p class="mainTitle bold">
        강의 보러가기 &nbsp;
        <img src="https://i.ibb.co/gPBTt5R/Eyes-Emoji.png" alt="Eyes-Emoji" />
      </p>

      <div class="subMain">
        <div class="teacherDetail">
          <div class="subjectDetailHealth">
            <!-- <img
              src="https://i.ibb.co/sVDQgZ1/sub-Banner01.png"
              alt="sub-Banner01"
            /> -->
            <button class="absoluteBtn" style="margin: 84% 68%">
              <a href="healthClass.html">Health</a>
            </button>
          </div>
          <div class="subjectDetailYoga">
            <!-- <img
              src="https://i.ibb.co/sVDQgZ1/sub-Banner01.png"
              alt="sub-Banner01"
            /> -->
            <button class="absoluteBtn" style="margin: 84% 68%">
              <a href="yogaClass.html"> Yoga</a>
            </button>
          </div>
          <div class="subjectDetailPilates">
            <!-- <img
              src="https://i.ibb.co/sVDQgZ1/sub-Banner01.png"
              alt="sub-Banner01"
            /> -->
            <button class="absoluteBtn" style="margin: 84% 68%">
              <a href="pilatesClass.html"> Pilates</a>
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="teamProjectDesc">
        <p class="mainTitle bold">팀프로젝트 소개</p>
        <p class="mainDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen
        </p>
      </div> -->
      <div class="teacherDesc">
        <p class="mainTitle bold">
          강사진 소개 &nbsp;
          <img
            src="https://i.ibb.co/rGqqDHp/image.png"
            alt="image"
            width="24px"
          />
        </p>
        <p class="mainDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen
        </p>
      </div>

      <div class="teacherDetail"></div>
      <div class="teacherWrap">
        <div class="teacherProfile">
          <img
            src="https://i.ibb.co/SNMJTBB/profile01.jpg"
            alt="sub-Banner01"
            style="border-radius: 100%; width: 180px"
          />
          <p class="teacherTitle">윤선생</p>
          <p class="teacherDesc" style="margin: 10px 0">나는야 윤선생이다</p>
        </div>

        <div class="teacherProfile">
          <img
            src="https://i.ibb.co/x2tbpdj/profile03.jpg"
            alt="sub-Banner01"
            style="border-radius: 100%"
          />
          <p class="teacherTitle">송선생</p>
          <p class="teacherDesc" style="margin: 10px 0">나는야 송선생이다</p>
        </div>

        <div class="teacherProfile">
          <img
            src="https://i.ibb.co/pyP7rGy/profile02.jpg"
            alt="sub-Banner01"
            style="border-radius: 100%"
          />
          <p class="teacherTitle">육선생</p>
          <p class="teacherDesc" style="margin: 10px 0">나는야 육선생이다</p>
        </div>
      </div>
      <!-- <div class="mainFooterBanner">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div> -->
      <div class="footerBar" style="display: flex">
        <p class="bold">
          3개월 구독시 20% 할인 이벤트 진행중! 지금 구독하고 플러스 회원만의
          혜택을 누려보세요
          <img
            src="https://i.ibb.co/XjrSbLb/fire-1f525.png"
            alt="fire-1f525"
            width="24px"
            style="background: none; margin: 0"
          />
        </p>
        <div class="footerBtnArea" style="display: flex; justify-content: end">
          <div class="footerBtn">
            <a href="eventPage.html">지금 구독하기</a>
          </div>

          <div class="topBtn">
            <a href="#Top">
              <img
                src="https://i.ibb.co/Xb6dmHC/Group-46.png"
                alt="Group-46"
                width="26px"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="footer">
        <form>
          <select
            title="teamSite"
            id="s1"
            name="teamSite"
            class="teamSite"
            onchange="window.open(value,'_blank');"
          >
            <option value="0">Our Team</option>
            <option value="https://github.com/SeungHwanYuk">
              Yuk SeungHwan
            </option>
            <option value="https://github.com/star0717">Yoon Byeol</option>
            <option value="https://github.com/bobo459">Song JinKyung</option>
          </select>
        </form>
        <p>ⓒ 2024. Team TBeaver all rights reserved.</p>
      </div>
    </div>

    <!-- <button class="login">
      <a href="/src/test/java/index_YSH_test.html"> 대장 </a>
    </button>
    <button class="login">
      <a href="/src/test/java/testByJinkyung.html"> 진경 </a>
    </button>
    <button class="login">
      <a href="/src/test/java/byeolTest.html"> 별 </a>
    </button> -->
    <!-- <script src="/js/login.js"></script> -->
    <script src="/js/index.js"></script>
  </body>
</html>
