<!-- 강의 영상창 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="
    https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js
    "></script>

    <link rel="stylesheet" href="/css/lecturePlayer.css" />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->


    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-youtube@latest/dist/Youtube.min.js"></script>
    <title>강의 영상창</title>


  </head>
  <body>
    <div class="videoTextBack">
      <div class="navLogo">
        <!-- <img src="https://i.ibb.co/thFZ0wd/Logo.png" alt="Logo" /> -->
        <!-- <img src="https://i.ibb.co/ns3JKPp/TBeaver-Logo.png" alt="TBeaver-Logo"> -->
        <a href="index.html">
          <img
            src="https://i.ibb.co/9VyktjQ/image.png"
            alt="HelloLogo"
            class="helloLogo"
            style="width: 120px;"
          />
        </a>
      </div>
    <!-- <h1 class="videoText">강의 영상창</h1> -->

<div class="logoutAndbackPageGroup">
    <div class="logout hidden">
      <a style="color: #cccccc;"> 로그아웃 </a>
    </div>
    <div class="backPage">
      <a style="color: #252525" class="backPageLingk" href="courseHistory.html"> 강의목록 </a>
    </div>
  </div>
    <!-- <button class="logout hidden">
      <a style="color: #181818"> 로그아웃 </a>
    </button>
    <button class="backPage">
      <a style="color: #181818" href="courseHistory.html"> 강의목록 </a>
    </button> -->
  </div>

  <div class="mainVideoWrapGroup">
    <div class="mainVideoWrap">
      <video
        id="video-container"
        class="video-js vjs-default-skin"
        controls
        poster="auto"
        width="810"
        height="540"
      ></video>

    <br />
    <br />

    <div class="subVideoWrap">
       <div class="subVideoWrapMainTextGroup">
      <div class="subVideoWrapMainText01 carloriehistoryText">
        <p class="historyTextP01 historyTextFocus" style="padding: 10px 30px; border-bottom: 2px solid;">
        강의목록</p>
      </div>
      <!-- <div class="subVideoWrapMainText02 carloriehistoryText">
        <p class="historyTextP02" style="padding: 10px 30px; border-bottom: 2px solid;">
        강사소개</p>
      </div> -->
      <!-- <div class="subVideoWrapMainText03 carloriehistoryText">
        <p class="historyTextP02" style="padding: 10px 30px; border-bottom: 2px solid;">
        강의리뷰</p>
      </div> -->
    </div>
      <div class="subVideoBody"></div>
    </div>
  </div>
    <!-- // 비동기 동영상 불러오기 -->
    <!-- <video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      width="810"
      height="540"
      poster="/image/hd_sample_poster.jpg"
      data-setup="{}"
    >
      <source src="/mp4/hd_sample.mp4" type="video/mp4" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a
        >
      </p>
    </video> -->
    <!-- <br />
    <br />

    링크로 동영상 불러오기
    <div class="videoWrap">
      <div class="videoBody">
        <video
          id="my-youtube"
          class="video-js vjs-default-skin"
          controls
          width="810"
          height="540"
          data-setup='{"techOrder": ["youtube"],
    "sources": [{"type": "video/youtube",
    "src": "https://youtu.be/eqTF-rDHm2I?si=i78Xxxe36Dx3QZtu"}]}'
        ></video>
      </div>
    </div> -->

    <script>
      videojs(document.querySelector("#video-container")).ready(function () {
        var player = this;
        player.on("play", function () {
          console.log("비디오가 재생되었습니다.");
        });
        player.on("pause", function () {
          console.log("비디오가 일시정지되었습니다.");
        });
        player.on("ended", function () {
          console.log("비디오가 끝까지 재생되었습니다.");
          alert("비디오를 끝까지 시청해주셔서 감사합니다!");
        });
      });

    </script>




      <!-- 푸터 -->
<div class="footer" style="margin-top: 0;">
  <form>
    <select
      title="teamSite"
      id="s1"
      name="teamSite"
      class="teamSite"
      onchange="window.open(value,'_blank');"
    >
      <option value="0">Our Team</option>
      <option value="https://github.com/SeungHwanYuk">
        Yuk SeungHwan
      </option>
      <option value="https://github.com/star0717">Yoon Byeol</option>
      <option value="https://github.com/bobo459">Song JinKyung</option>
    </select>
  </form>
  <p>ⓒ 2024. Team TBeaver all rights reserved.</p>
</div>















    <script src="/js/lecturePlayer.js"></script>
  </body>
</html>





